# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.project
.settings/
.classpath


# Environment and Secrets
.env
.env.local
.env.*.local
*.pem
*.key


# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Logs
*.log
logs/

# Docker
.docker/

#asociaciones_estrategicas ejemplo de arquitectura
src/asociaciones_estrategicas
travelhub_docs_apoyo
src/Booking/database    
src/aeroalpes
src/Booking/compile_files.py
src/Booking/contents_summary.txt
experimento/
data/



# Terraform
.terraform/
*.tfplan
*.tfstate.lock.*
*.tfstate.backup
*.tfstate
crash.log
crash.*.log
.terraformrc
terraform.rc
override.tf
override.tf.json
*_override.tf
*_override.tf.json